/* Reset CSS */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    background-color: #010F1D;
}

.navbar {
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.navbar a {
    color: #ffffff;
    float: left;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
    color: #FFA000;
}

.navbar .logo {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
}

.nav-item {
    float: right;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

/* Home Styles */
.body-content {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
}

.description {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin-right: 50px;
}

.description h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
}

.description p {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 50px;
}

.description a {
    text-decoration: none;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 14px 16px;
    font-size: 16px;
    cursor: pointer;
}

.description a:hover {
    border: 1px solid #FFA000;
    color: #FFA000;
}

.body-content img {
    width: 700px;
    padding-left: 500px;
}

/* About Styles */
.container {
    display: flex;
    padding: 30px;
    width: 75%;
    margin: auto;
}

.container img {
    width: 170px;
    border-radius: 10px;
    margin-right: 100px;
}

.icons {
    margin: 15px 10px 30px;
}

.icons i {
    color: #ffffff;
    font-size: 22px;
    margin: 6px;
}

.icons i:hover {
    color: #FFA000;
}

.icons .devicon-twitter-original {
    font-size: 20px;
}

.row h1 {
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.row h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.row h3 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.row p {
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.7;
    max-width: 70ch;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.row a {
    text-decoration: none;
}

.row a.cv-btn {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 18px;
}

.row a.cv-btn:hover {
    color: #FFA000;
    border: 1px solid #FFA000;
}

.skills {
    display: flex;
    justify-content: space-between;
}

/* Works Styles */
.project h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.project span {
    color: #FFA000;
}

.flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card img {
    width: 370px;
    height: 200px;
    border-radius: 5px;
}

.card h2 {
    font-weight: 500;
    margin: 15px 0px 10px 0px;
}

.card p {
    font-weight: 300;
    margin-bottom: 25px;
}

.card button {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 14px 18px;
    font-size: 16px;
    cursor: pointer;
    /* margin: 18px; */
}

.card button:hover {
    background-color: #FFA000;
    border: 1px solid #FFA000;
    transition: 0.8s;
}