/* font */
@font-face {
    font-family: "Recife Display";
    src: url("../fonts/recife/RecifeDisplay-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* general style */
body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    background-color: #010F1D;
    color: #ffffff;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
ul,
li,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

footer,
header,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

small {
    font-size: 90%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    font-family: "Recife Display";
    font-weight: 400;
}

h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

section {
    margin-bottom: 7em;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
    margin: 20px;
    margin-left: 100px;
}

p {
    font-size: inherit;
    line-height: 1.6;
}

small {
    font-size: 14px;
}

main {
    margin-top: 3vh;
    /* padding: 30px; */
}

hr {
    width: 90%;
}

/* nav */
.topnav .nav-item {
    padding: 30px 100px 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.topnav .nav-item li:first-of-type {
    padding-right: 750px;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 700;
}

.topnav .nav-item li a.active {
    text-decoration: underline;
}

.nav-item li {
    font-family: "Recife Display";
    font-size: 21px;
    display: inline-block;
    padding-right: 40px;
}

/* body */
.container {
    padding-left: 100px;
    padding-right: 100px;
}

.container.small {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.body-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    flex-basis: 30%;
}

.image-container img {
    width: 250px;
    max-width: 300px;
    /* border-radius: 50%; */
    border: 5px solid #ffffff;
}

.text-container {
    max-width: 600px;
}

.large-paragraph {
    font-size: 22px;
 }

 .footer-content {
    padding: 50px;
 }

 .footer-content .nav-item li {
     float: right;
 }
/* projects */
.card {
    width: 80%;
    margin: auto;
    padding: 50px;
    display: flex;
}

.card img {
    z-index: 1;
    width: 50%;
    height: 10%;
    margin-right: 3rem;
    border-radius: 5px;
    background-color: #c4c3e6;
    padding: 30px;
}

.card-text {
    /* margin-left: 100px; */
    color: white;
    padding: 10px;
}

.card h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.card h4 {
    font-weight: 300;
    margin-bottom: 20px;
    color: #a0a0a0;
    font-size: 15px;
}

.card h5 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1.7;
    max-width: 70ch;
}

.card a {
    font-family: 'Intel', sans-serif;
    color: #ffffff;
    padding: 12px 15px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.card a:hover {
    text-decoration: none;
}


 /*responsive */
 @media screen and (max-width: 992px) {
     .topnav {
         display: block;
     }

     .topnav .nav-item {
        padding: 30px;
    }

    h1 {
        font-size: 35px;
    }
    .container {
        padding-left: 100px;
    padding-right: 100px;
    }
    .body-content {
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .image-container {
        flex-basis: 30%;
    }
    .image-container img {
        max-width: 200px; 
        border-radius: 60%;
    }
    .large-paragraph {
        font-size: 25px;
    }

    header .nav-item li:first-of-type {
        display: none;
    }
    .container.small {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }
    .text-container {
        padding-left: 35px;
    }
 }

 @media screen and (max-width: 600px) {
     .container {
        padding-left: 30px;
        padding-right: 30px;
     }
     .body-content {
        display: block;
     }

     h1 {
         font-size: 30px;
     }

     body,
    .large-paragraph {
        font-size: 17px;
    }

    header .nav-item li:first-of-type {
        display: none;
    }

    section {
        margin-bottom: 5em;
    }

    .topnav .nav-item {
        padding: 30px;
    }

    .nav-item li {
        font-size: 17px;
        padding-right: 20px;
    }

    .topnav .nav-item li:first-of-type {
        padding-right: 20px;
    }

    .image-container {
        flex-basis: 30%;
    }

    .image-container img {
        max-width: 100px;
        margin-bottom: 10px;
        border-radius: 0%;
    }

    .text-container {
        max-width: 100%;
    }

    .footer-content .nav-item li {
        padding: 10px;
    }

    .card {
        display: block;
    }
 }
