/* font-family: 'Inter', sans-serif;
font-family: 'Cormorant Garamond', serif; */

/* general styles */
body {
    color: #000000;
    background-color: #ffffff;
}


h1,
h2,
p {
  margin: 0;
  padding: 0;
}

hr {
  width: 90%;
  border: 1px solid #000000;
}


/* nav */
.header {
  overflow: hidden;
  padding: 20px 10px;
  width: 95%;
  margin: auto;
}

.header a {
  font-family: 'Inter', sans-serif;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
}

.header a.logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: bold;
}

.header a.logo:hover {
  color: #000000;
}

.header a:hover {
color: #FFA500;
}

.header a.active {
  color: #FFA500;
  text-decoration: line-through;
}

.header-right {
  float: right;
}

.header .icon {
  display: none;
}


.footer {
   width: 90%;
   text-align: right;
   padding: 50px;
}

.footer a {
  font-family: 'Cormorant Garamond', serif;
  padding-left: 40px;
  font-size: 22px;
  text-decoration: none;
  color: #000000;
}


/* home */
.container {
padding: 80px 100px;
}


.body-content span {
  font-size: 30px;
}

.body-content h1{
  font-family: 'Cormorant Garamond', serif;
  font-size: 70px;
  text-align: center;
}

.body-content h2,
.body-content p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-align: center;
}

.body-content h2 {
  font-size: 18px;
  padding-bottom: 20px;
}

.body-content p{
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  padding-bottom: 50px;
  margin: auto;
}

.body-content a {
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 43%;
  /* margin-right: 45%; */
  text-decoration: none;
}

.body-content a:hover {
  color: #000000;
  background-color: #ffffff;
  text-decoration: line-through;
}

.body-content i {
  font-size: 35px;
  padding-top: 150px;
  margin-left: 47%;
}



/* projects */
.projects h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  padding-bottom: 70px;
}

.project {
  display: flex;
  justify-content: space-between;
}

.img-section {
  width: 50%;
}

.img-section img {
  width: 400px;
  height: 400px;
}

.text-section {
  width: 50%;
}

.text-section h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  padding-bottom: 20px;
}

.text-section p {
  line-height: 2;
  max-width: 550px;
  padding-bottom: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
}

.text-section a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #FFA500;
  font-weight: 300;
  font-size: 18px;
}

.text-section a:hover {
  text-decoration: line-through;
}

hr.divider {
  border: 1px dashed #c0c0c0;
  width: 100%;
  margin: 100px 0;
}

.skills h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex > div {
  padding-right: 70px;
  padding-left: 70px;
}

.flex h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  padding-bottom: 10px;
}

.flex p {
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  max-width: 400px;
}

.flex ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex ul li {
  font-family: 'Inter', sans-serif;
  padding-bottom: 20px;
}


.flex ul li:before { /* the custom styled bullets */
  background-color: #FFA500;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 15px;
  margin-bottom: -2px;
  height: 15px;
  width: 15px;
}



/* about  */
.flex-ctn {
  display: flex;
  justify-content: space-around;
}

.img-ctn img {
  width: 300px;
  height: 400px;
}

.text-ctn h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 45px;
  padding-bottom: 30px;
}

.text-ctn p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 17px;
  max-width: 700px;
  padding-bottom: 30px;
}

.text-ctn a {
  color: #FFA500;
}

.extras p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 17px;
  padding: 30px 50px 0 50px;
}




/* responsive */
