/* font */
@font-face {
    font-family: "Recife Display";
    src: url("../fonts/recife/RecifeDisplay-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* general styles */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
ul,
li,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1 {
    font-family: "Recife Display";
    font-weight: 400;
}

hr {
    width: 90%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

section.top-section {
    margin-bottom: 8em;
}

section.bottom-section {
    margin-bottom: 3em;
}

body {
    background-color: #030723;
    color: #ffffff;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* navbar  & footer */
.nav-item ul {
    list-style: none;
}

.nav-item li {
    font-family: "Recife Display";
    font-size: 20px;
    display: inline-block;
    padding-right: 40px;
}

.topnav .nav-item {
    padding: 40px 100px 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.topnav .nav-item li:first-of-type {
    padding-right: 680px;
    font-size: 30px;
}

.topnav .nav-item li a.active {
    text-decoration: underline;
}

.footer-content {
    padding: 50px;
 }

 .footer-content .nav-item li {
     float: right;
 }

 /* index page */
 .container {
    padding-left: 100px;
    padding-right: 100px;
}

.body-content {
    display: flex;
    justify-content: space-around;
}

span.scroll {
    margin: 30px;
    color: rgb(114, 99, 99);
}

.text-container {
    max-width: 700px;
}

.image-container {
    flex-basis: 30%;
}

.image-container img {
    width: 250px;
    max-width: 300px;
    border: 5px solid #ffffff;
}

.text-container h1 {
    font-size: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.text-container p {
    line-height: 30px;
}

.text-container a {
    color: aqua;
    text-decoration: underline;
}

.skill-section h1 {
    font-size: 50px;
    padding-bottom: 50px;
}

.icons i {
    font-size: 100px;
    padding-right: 80px;
}

.icons img {
    width: 100px;
}

.contact h2 {
    padding-top: 150px;
}

.contact h2,
.contact h3 {
    padding-bottom: 10px;
    font-size: 30px;
}

.contact span {
    font-size: 25px;
    text-decoration: underline;
    font-family: "Recife Display";
    font-weight: 400;
}

/* about page */
.container-ctn {
    padding-left: 300px;
    padding-right: 300px;
}

.flex-content {
    display: flex;
}

.image-ctn {
    flex-basis: 10%;
}

.image-ctn img {
    width: 200px;
    height: 250px;
    border: 3px solid #ffffff;
}

.text-ctn {
    /* max-width: 850px; */
    padding-left: 100px;
}

.text-ctn h1 {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 30px;
}

.text-ctn p {
    line-height: 30px;
    font-size: 17px;
    padding-bottom: 40px;
}

/* project page */
h1.work-title {
    font-size: 40px;
    padding-bottom: 30px;
}

.project {
    display: flex;
    /* padding-bottom: 200px; */
}

.project-img img {
    width: 700px;
    height: 340px;
}

.project-desc {
    padding-left: 50px;
}

.project-desc h1 {
    color: aqua;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.project-desc p {
    line-height: 30px;
    font-size: 17px;
    padding-bottom: 30px;
}

.project-desc ul {
    list-style: none;
}

.project-desc li {
    /* font-size: 20px; */
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 50px;
}

.project-desc a {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.2em;
    border: 2px solid white;
    padding: 14px 28px;
    cursor: pointer;
}

.project-desc  a:hover {
    background-color: #ffffff;
    color: #030723;
    border: none;
}

hr.divider {
    border: 1px dashed rgb(190, 245, 245);
    width: 100%;
    margin: 100px 0px;
}




/* responsive */
@media screen and (max-width: 1024px) {
    .container,
    .container-ctn {
        padding-left: 50px;
        padding-right: 50px;
    }

    .topnav {
        display: block;
    }

    .topnav .nav-item {
       padding: 30px;
       padding-bottom: 50px;
       margin: 40px;
   }

    .nav-item li:first-of-type {
    display: none;
}

.text-container h1 {
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.text-container {
    max-width: 350px;
}

.image-container {
    flex-basis: 5%;
}

.image-container img {
    width: 150px;
    max-width: 300px;
    border: 5px solid #ffffff;
}

span.scroll {
    display: none;
}

.skill-section h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.icons i {
    font-size: 70px;
    padding-right: 40px;
}

.icons img {
    width: 90px;
}

.project-img img {
    width: 500px;
    height: 300px;
}

.project-desc {
    padding-left: 80px;
}

}



@media screen and (max-width: 600px) {
    .topnav {
        display: block;
    }

    .nav-item li {
        font-family: "Recife Display";
        font-size: 15px;
        padding-right: 10px;
    }

    .topnav .nav-item {
        padding: 30px;
        padding-bottom: 30px;
        margin: 20px;
}
.body-content {
    display: block;
}

.image-container img {
    display: none;
}
.skill-section h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

.icons i {
    font-size: 40px;
    padding-right: 10px;
}

.icons img {
    width: 55px;
}
section.top-section {
    margin-bottom: 4em;
}
.contact h2 {
    padding-top: 80px;
}

.contact h2,
.contact h3 {
    padding-bottom: 10px;
    font-size: 20px;
}

.contact span {
    font-size: 20px;
    text-decoration: underline;
    font-family: "Recife Display";
    font-weight: 400;
}

.flex-content {
    display: block;
}

.text-ctn {
    /* max-width: 850px; */
    padding-left: 10px;
    padding-top: 30px;
}

.project {
    display: block;
}

.project-img img {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.project-desc {
    padding-left: 10px;
}

}